# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
*.env
*.venv

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py
*.mo

# VSCode settings
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Coverage and test reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Migrations (optional: keep if needed)
**/migrations/*.pyc
**/migrations/__pycache__/
