{% extends "base.html" %}
{% load static %}

{% block link %}

<link rel="stylesheet" href="{% static 'index.css' %}">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{% endblock %}

{% block content %}
<style>
    .slick-track {
        height: 60vh;

    }
</style>

    <section class="video-section" id="video-section">
        <video src="{%static 'Background_Video.mp4'%}" type="video/mp4" autoplay="autoplay" loop="loop" data-autoplay="data-autoplay" playsinline="playsinline" muted="muted" class="video_src" __idm_id__="1032193"></video>

        <div class="slider">
            <div class="slide">
                <h1>Lorem ipsum dolor sit amet consectetur .?</h1>
                <div class="contant">
   
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fugiat quod commodi. Esse dolor earum ab aperiam sed fugit illo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias natus provident unde iusto voluptas, tenetur minima dolor distinctio, ea nisi in quaerat illum blanditiis maxime enim, saepe mollitia beatae rem.

                       <br> <button>Book Now</button>
                    </p>
                    
                </div>
            </div>


            <div class="slide">
                <h1>Lorem ipsum dolor sit amet consectetur .?</h1>
                <div class="contant">
                    
   

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fugiat quod commodi. Esse dolor earum ab aperiam sed fugit illo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias natus provident unde iusto voluptas, tenetur minima dolor distinctio, ea nisi in quaerat illum blanditiis maxime enim, saepe mollitia beatae rem.

                       <br> <button>Book Now</button>
                    </p>
                    
                </div>
            </div>

            <div class="slide">
                <h1>Lorem ipsum dolor sit amet consectetur .?</h1>
                <div class="contant">

                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fugiat quod commodi. Esse dolor earum ab aperiam sed fugit illo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias natus provident unde iusto voluptas, tenetur minima dolor distinctio, ea nisi in quaerat illum blanditiis maxime enim, saepe mollitia beatae rem.

                       <br> <button>Book Now</button>
                    </p>
                    
                </div>
            </div>

            <div class="slide">
                <h1>Lorem ipsum dolor sit amet consectetur .?</h1>
                <div class="contant">

                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fugiat quod commodi. Esse dolor earum ab aperiam sed fugit illo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias natus provident unde iusto voluptas, tenetur minima dolor distinctio, ea nisi in quaerat illum blanditiis maxime enim, saepe mollitia beatae rem.

                       <br> <button>Book Now</button>
                    </p>
                    
                </div>
            </div>

        </div>

        
    </section>
    <div class="video-footerr">
<p data-aos="fade-left" >Robotic Parking System | Pallet-less | Fully-automated Parking System | EV Charging | User Friendly & Safe</p>
        
    </div>
    <section class="sky_garage" id="sky_bridge">
        <div class="sky_container">
            <div class="sky_left" 
            data-aos="flip-up" 
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            data-aos-anchor-placement="top-center"
            ></div>

            <div class="sky_right" 
            data-aos="slide-left" 
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            data-aos-anchor-placement="top-center"
            >

                <div class="right_sky_data">
                    <h1>Sky Garage</h1>

                    <p>Pinnacle of Urban Sophistication.
                        Your Car's Exclusive Haven.</p>


                    <button>LEARN MORE</button>
                </div>
            </div>
        </div>
    </section>

    <section class="services">

        <h1>Our Services</h1>

        <div class="service-content" id="service">
            <div class="service-left" data-aos="slide-right" 
            data-aos-offset="200"
            data-aos-delay="10"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            data-aos-anchor-placement="top-center"
            >
                <img src="{%static 'car.gif'%}" alt="">
            </div>
            <div class="service-right" 
            data-aos="slide-left" 
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            data-aos-anchor-placement="top-center"
            >
                <div class="cardd">
                    <div class="icon"><i class="fa-solid fa-car"></i></div>
                    <div class="text"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, vitae.</p></div>
                </div>
                <div class="cardd">
                    <div class="icon"><i class="fa-solid fa-motorcycle"></i></div>
                    <div class="text"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, vitae.</p></div>
                </div>
                <div class="cardd">
                    <div class="icon"><i class="fa-solid fa-truck"></i></div>
                    <div class="text"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, vitae.</p></div>
                </div>
                <div class="cardd">
                    <div class="icon"><i class="fa-solid fa-bus"></i></div>
                    <div class="text"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, vitae.</p></div>
                </div>
            </div>
        </div>

    </section>


    <section class="product">

        <div class="row">
        <div class="col-4">
            <div class="products-data"
            data-aos="slide-right" 
            data-aos-offset="200"
            data-aos-delay="40"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="false"
            >
                <h1>Products</h1>
                <p>Always Brilliant. In Every Way.</p>
            </div>
        </div>
        <div class="col-2">
            
            <div class="card product_card">
                <div class="imge"></div>
                <p>Main DuoRobot</p>
            </div>
        
        </div>
        <div class="col-2">
            <div class="card product_card">
                <div class="imge" id="c-2"></div>
                <p>Main DuoRobot</p>
            </div>

        </div>
        <div class="col-2">
            <div class="card product_card">
                <div class="imge" id="c-3"></div>
                <p>Main DuoRobot</p>
            </div>

        </div>
        <div class="col-2">
            <div class="card product_card">
                <div class="imge" id="c-4"></div>
                <p>Main DuoRobot</p>
            </div>

        </div>
        </div>


        <div class="row row-sec">
            <div class="col-2">
                
                <div class="card product_card">
                    <div class="imge" id="c-5"></div>
                    <p>Main DuoRobot</p>
                </div>
            
            </div>
            <div class="col-2">
                
                <div class="card product_card">
                    <div class="imge" id="c-6"></div>
                    <p>Main DuoRobot</p>
                </div>
            
            </div>
            <div class="col-2">
                <div class="card product_card">
                    <div class="imge" id="c-7"></div>
                    <p>Main DuoRobot</p>
                </div>
    
            </div>
            <div class="col-2">
                <div class="card product_card">
                    <div class="imge" id="c-8"></div>
                    <p>Main DuoRobot</p>
                </div>
    
            </div>
            <div class="col-2">
                <div class="card product_card">
                    <div class="imge" id="c-9"></div>
                    <p>Main DuoRobot</p>
                </div>
    
            </div>

            <div class="col-2">
                <div class="card product_card">
                    <div class="imge" id="c-10"></div>
                    <p>Main DuoRobot</p>
                </div>
    
            </div>

    </div>


    </section>

    <section class="find-place" id="find">
        <h1>Find Your Parking Area</h1>
        <div class="find-content">
            <div class="find-left">
                <h2>Park Your <span id="type"></span></h2>
            </div>
            <div class="find-right">
                <form action="#">
                    <input type="text" class="search-bar" id="src-bar">
                    <button type="submit">Find</button>
                </form>

                <div class="search-result" id="search-result">
                    <!-- <div class="src-card"><p>Hello</p></div>
                    <div class="src-card"><p>Hello</p></div>
                    <div class="src-card"><p>Hello</p></div> -->
                </div>

        </div>

           
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.js" integrity="sha512-tQQXRDB2wEmuJGtFrmmoFYzNTq8StA1XJrfO0OQbbTxd9G0CwaTDL6/C1y805IlvBVrMwOqob1kf6r/2U5XXVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{% static 'script.js' %}"></script>

    <script>
                const suggestions = [
        
        {
            "id":1,
            "name" : "Dhanmondi"
        },
        {
            "id":2,
            "name" : "Bashundhara"
        },
        {
            "id":3,
            "name" : "Firmget"
        },
        {
            "id":4,
            "name" : "Motizhil"
        },
    ]
    
    const searchInput = document.getElementById("src-bar");
    const suggestionBox = document.getElementById("search-result");
    
    searchInput.addEventListener("input", function(a) {
        console.log(a.value);
        const searchText = searchInput.value.toLowerCase();
        let matchingSuggestions = suggestions.filter(suggestion =>
           suggestion.name.toLowerCase().includes(searchText)
        );

        if (searchText==''){
            matchingSuggestions = [];
        }
        console.log(matchingSuggestions);
        renderSuggestions(matchingSuggestions);
    });
    
    function renderSuggestions(suggestions) {
        suggestionBox.innerHTML = "";
        suggestions.forEach(suggestion => {
            const suggestionItem = document.createElement("div");
            suggestionItem.classList.add("src-card")
            let ptag = document.createElement('p')
            atag = document.createElement('a')
            atag.href = "#"+suggestion.id;
            atag.textContent = suggestion.name;
            
            ptag.appendChild(atag);
            suggestionItem.appendChild(ptag);

            // suggestionItem.classList.add("suggestion");
            suggestionBox.appendChild(suggestionItem);
        });
    
        // suggestionBox.style.display = suggestions.length > 0 ? "block" : "none";
    }
    </script>

    <script>
        var typed = new Typed('#type', {
  strings: ["Car", "Motorcycle"],
  loop: true,
  backSpeed: 30,
  typeSpeed: 50
});
    </script>


    {%endblock%}
