{% extends "base.html" %}
{% load static %}
{% block link %}

<link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="stylesheet" href="{% static 'index.css' %}">

{% endblock %}
{%block content%}
    <div class="login-box">
        <h2>Login</h2>
        <form method="POST" action="/auth/login" >
          {% csrf_token %}
          <div class="user-box">
            <input type="text" name="email">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="text" name="nid" >
            <label>NID (Optional)</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required>
            <label>Password</label>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" value="Submit" >
          </a>
        </form>
        {%for message in messages%}
        <p style="text-align:center;color:red">{{message}}</p>
        {%endfor%}
      </div>
      {%endblock%}